---
import Layout from "../layouts/NewsPost.astro";
---

<Layout
  title="OnStage, c’est quoi ?"
  description="OnStage c'est quoi ?"
  pubDate={new Date("2024")}
>
  <img
    class="TeamPicture"
    src="../../public/TeamPicture.jpg"
    alt="Picture of the whole OnStage team"
  />

  <p>
    OnStage, c’est un concert organisé par des étudiants, pour des étudiants !<br
    />
    Le rap est un style de musique très répandu dans notre génération et sur la scène
    artistique nantaise. Justement, nous avons choisi de nous démarquer en proposant
    quelque chose de différent et d’original, afin d’offrir une nouvelle expérience
    musicale à nos proches.<br />
    Nous souhaitons créer un événement qui permette à certain·e·s de découvrir de
    nouveaux styles musicaux tout en offrant un lieu convivial où se retrouver entre
    amis et passer un moment agréable. <br />
    La sécurité et la bienveillance sont des priorités pour nous : nous voulons que
    cet espace soit rassurant, accueillant et inclusif pour tous·tes. Rejoignez-nous
    pour une soirée unique qui met à l’honneur les talents étudiants et vous invite
    à explorer des univers musicaux variés. <br />
    Que vous soyez à la recherche de nouvelles découvertes ou simplement curieux·se,
    laissez-vous emporter par cette expérience culturelle et festive, spécialement
    conçue pour les étudiant·e·s.
  </p>
</Layout>
