---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <img
        src="/public/LOGO.svg"
        alt="OnStage"
        style="width: 50%; left: 25%; position:relative; color:#66042c"
      />
      <section>
        <h1>Bonjour</h1>
        <p>
          OnStage, c'est un groupe d'étudiants nantais avec comme volonté de
          proposer des concerts mettant en lumière des artistes étudiants pour
          les étudiants.
        </p>
        <p>
          Vous êtes étudiant et passionnée par la musique ou simplement curieux
          de découvrir de nouveaux horizons sonores ? <br />
          <b>OnStage</b> est fait pour vous !
        </p>
        <p>
          Nous avons à cœur de créer un événement qui puisse permettre à
          certains de découvrir un nouveau style de musique, mais également,
          d'avoir un endroit pour pouvoir se retrouver entre amis et passer un
          bon moment !
        </p>
        <!-- <p>
          Have fun! If you get stuck, remember to <a
            href="https://docs.astro.build/"
            >read the docs
          </a> or <a href="https://astro.build/chat">join us on Discord</a> to ask
          questions.
        </p>
        <p>
          Looking for a blog template with a bit more personality? Check out <a
            href="https://github.com/Charca/astro-blog-template"
            >astro-blog-template
          </a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
        </p> -->
      </section>
    </main>
    <Footer />
  </body>
</html>
