---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <div style="display: flex; flex-direction: row;">
    <a href="/" id="logo" style="color: #222939;"
      ><svg
        id="Calque_2"
        data-name="Calque 2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 426.82 413.29"
        height="80"
      >
        <g id="Calque_1-2" data-name="Calque 1">
          <path
            class="cls-1"
            d="M258.94,45.02c-25.16-26.62-56.57-39.94-94.24-39.94s-69.4,13.32-94.43,39.94c-24.54,26.02-36.81,58.11-36.81,96.26s12.27,70.02,36.81,95.91c25.03,26.51,56.51,39.77,94.43,39.77,20.04,0,38.25-3.62,54.64-10.88-.3-.96-.56-1.93-.81-2.92-4.46-19.05-.3-37.33,12.01-52.88,13.86-17.48,37.2-29.39,61.05-31.56,2.9-11.74,4.36-24.22,4.36-37.43,0-37.91-12.34-70-37.01-96.26ZM208.87,187.12c-12.14,13.88-26.86,20.81-44.17,20.81-18.53,0-33.57-6.57-45.11-19.71-10.92-12.51-16.37-28.15-16.37-46.94,0-17.53,5.83-33.06,17.48-46.57,12.03-13.99,26.69-20.98,44-20.98,18.17,0,33.06,6.74,44.73,20.25,11.16,12.89,16.75,28.53,16.75,46.94s-5.77,32.95-17.31,46.19Z"
          ></path>
          <path
            class="cls-1"
            d="M366.71,240.23h0c-14.24,8.23-32.04.11-35.82-15.9-3.95-16.72-13.38-27.32-27.74-27.32-19.57,0-26.86,16.5-23.41,32.23,10.75,51.04,117.04,32.23,105.52,105.91-4.99,31.08-39.14,52.95-74.06,52.95-28.27,0-46.93-5.4-63.07-20.55-10.68-10.02-8.1-27.7,4.58-35.03h0c13.16-7.6,30.12-.54,33.66,14.24,5.79,24.21,15.73,33.27,24.83,33.27,14.58,0,21.87-18.42,21.1-33.38-2.69-43.75-89.41-36.84-100.92-84.41-9.97-42.6,32.62-73.29,71.76-73.29s54.73,8.04,68.19,24.12c7.19,8.59,5.06,21.55-4.63,27.16Z"
          ></path>
          <path
            class="cls-1"
            d="M217.09,412.96C103.76,419.32,6.38,332.3.02,218.96c-.31-5.55,3.94-10.3,9.49-10.61s10.3,3.94,10.61,9.49c5.74,102.25,93.6,180.77,195.85,175.03,5.55-.31,10.3,3.94,10.61,9.49.31,5.55-3.94,10.3-9.49,10.61Z"
          ></path>
          <path
            class="cls-1"
            d="M411.91,250.44c-.96.05-1.94-.03-2.92-.27-5.41-1.3-8.73-6.74-7.43-12.14,4.23-17.58,5.86-35.74,4.84-53.97-4.19-74.7-52.42-139.27-122.85-164.51-5.23-1.88-7.96-7.64-6.08-12.87,1.87-5.23,7.63-7.96,12.87-6.08,78.07,27.97,131.51,99.54,136.16,182.33,1.13,20.2-.67,40.32-5.36,59.81-1.07,4.42-4.9,7.45-9.22,7.7Z"
          ></path>
          <path
            class="cls-1"
            d="M199.58,362.73c-.26.01-.52.01-.79,0-45.59-3.1-87.02-26.22-113.69-63.43-2.03-2.84-1.38-6.78,1.45-8.82,2.84-2.04,6.79-1.38,8.82,1.45,24.46,34.13,62.46,55.33,104.27,58.18,3.48.24,6.11,3.25,5.88,6.73-.22,3.21-2.81,5.7-5.94,5.88Z"
          ></path>
        </g>
      </svg>
    </a>
    <h1 id="name" style="color: black; margin: auto 15px;">OnStage</h1>
    </div>

    <div class="internal-links">
      <HeaderLink href="/">Accueil</HeaderLink>
      <HeaderLink href="/artists">Artistes</HeaderLink>
      <!-- <HeaderLink href="/news">Actus</HeaderLink> -->
      <HeaderLink href="/about">À Propos</HeaderLink>
      <!-- <HeaderLink
        href="https://weezevent.com/fr/billetterie-gratuite/"
        target="_blank">Tickets</HeaderLink
      > -->
    </div>
    <div class="social-links">
      <a href="https://www.instagram.com/0n.stage/" target="_blank">
        <span class="sr-only">Follow onStage on Instagram</span>
        <svg
          viewBox="0 0 16 16"
          aria-hidden="true"
          width="32"
          height="32"
          astro-icon="social/instagram"
          ><path
            fill="currentColor"
            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
          ></path></svg
        ></a
      >
      <!-- <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span class="sr-only">Follow Astro on Twitter</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
          ></path></svg
        >
      </a>
      <a href="https://github.com/withastro/astro" target="_blank">
        <span class="sr-only">Go to Astro's GitHub repo</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a> -->
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--base);
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.4);
    font-family: "RL Aqva";
  }

  #logo {
    margin: 0;
    padding: 0;
    height: 86px;
    margin-top: 10px;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: #df0006;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 800px) {
    .social-links {
      display: none;
    }

    #name {
      display: none;
    }

    a {
      font-size: 0.8em;
    }
  }

  @media (min-width: 800px) {
    a {
      margin: 0;
      font-size: 1em;
    }
  }
</style>
