---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <a href="/" id="logo"
      ><svg
        height="80"
        viewBox="0 0 562 330"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_272_12)">
          <path
            d="M140.85 73.4798C140.85 93.9198 134.33 111.05 121.29 124.87C107.99 138.89 91.15 145.9 70.78 145.9C50.41 145.9 33.73 138.82 20.37 124.67C7.26997 110.85 0.719971 93.7798 0.719971 73.4698C0.719971 53.1598 7.26997 35.9698 20.37 22.0798C33.73 7.85977 50.54 0.759766 70.78 0.759766C91.02 0.759766 107.66 7.86977 121.09 22.0798C134.26 36.0998 140.84 53.2298 140.84 73.4698L140.85 73.4798ZM103.61 73.2898C103.61 63.4598 100.63 55.1098 94.67 48.2298C88.44 41.0198 80.49 37.4198 70.79 37.4198C61.09 37.4198 53.72 41.1498 47.3 48.6198C41.08 55.8298 37.97 64.1098 37.97 73.4798C37.97 83.4998 40.88 91.8598 46.72 98.5398C52.88 105.55 60.9 109.05 70.8 109.05C80.04 109.05 87.9 105.35 94.38 97.9498C100.54 90.8698 103.62 82.6498 103.62 73.2798L103.61 73.2898Z"
            fill="black"></path>
          <path
            d="M231.87 81.6998C231.83 67.1998 231.87 56.6298 231.87 43.6798V0.76976H268.09V145.75H231.87L180.25 51.7498C180.54 61.2398 180.25 69.0298 180.25 75.5398V145.74H144.14V0.759766H186.2L231.87 81.6898V81.6998Z"
            fill="black"></path>
          <path
            d="M207.43 211.08C199.83 215.47 190.33 211.14 188.31 202.59C186.2 193.66 181.16 188.01 173.5 188.01C163.05 188.01 159.16 196.82 161 205.21C166.74 232.46 223.48 222.42 217.33 261.75C214.67 278.34 196.43 290.02 177.79 290.02C162.7 290.02 152.74 287.14 144.12 279.05C138.42 273.7 139.79 264.26 146.56 260.35C153.58 256.29 162.64 260.06 164.53 267.95C167.62 280.88 172.93 285.71 177.79 285.71C185.57 285.71 189.47 275.88 189.06 267.89C187.63 244.54 141.33 248.22 135.18 222.83C129.86 200.09 152.59 183.7 173.49 183.7C194.39 183.7 202.71 187.99 209.89 196.58C213.73 201.16 212.59 208.09 207.42 211.08H207.43Z"
            fill="black"></path>
          <path
            d="M261.79 245.16C261.79 265.03 263.02 282.65 280.02 279.78V282.89C280.02 283.85 279.4 284.72 278.5 285.04C269.92 288.12 262.44 289.4 256.05 289.4C238.43 289.4 230.04 275.27 230.04 245.15V203.36C230.04 196.8 227.79 188 222.05 188V184.11C235.39 180.52 248.35 173.46 256.02 160.83C256.43 160.16 257.15 159.73 257.93 159.73H259.52C260.77 159.73 261.78 160.74 261.78 161.99V166.9C261.78 177.35 265.26 183.7 274.07 183.7H280.01V188H264.04C262.79 188 261.78 189.01 261.78 190.26V245.15L261.79 245.16Z"
            fill="black"></path>
          <path
            d="M327.76 188.01C321.77 187.86 315.08 194.04 313.07 207.43C312.01 214.47 304.36 218.37 298.2 214.8C289.09 209.53 289.05 196.27 298.22 191.11C306.91 186.22 317.4 183.71 327.77 183.71C348.87 183.51 368.53 194.15 368.53 226.32V268.11C368.53 278.35 370.58 282.45 376.52 286.75V289.41H339.04C337.79 289.41 336.78 288.4 336.78 287.15V285.6C336.78 283.69 334.51 282.58 333.09 283.85C319.13 296.34 284.88 287.52 282.29 261.96C278.6 222.22 330.84 228.37 336.17 209.31C339.86 196 334.53 188.01 327.77 188.01H327.76ZM323.25 241.88C308.3 279.16 335.33 287.56 336.77 270.35V226.5C336.77 224.22 333.8 223.38 332.59 225.3C329.04 230.95 325.28 236.67 323.25 241.88Z"
            fill="black"></path>
          <path
            d="M395.52 298.86C402.44 294.86 411.41 298.5 413.32 306.27C416.54 319.33 425.99 323.23 433.88 320.95C444.33 318.08 448.63 307.43 443.92 299.03C435.11 283.67 412.17 288.99 396.6 287.35C374.65 284.89 375.77 259.2 397.21 252.05C399.02 251.45 399.33 249.01 397.71 248.02C372.86 232.87 374.31 193.5 415.25 183.7C420.59 182.36 425.57 181.92 430.2 181.86C430.86 181.86 431.45 181.57 431.87 181.06C439.79 171.36 451.21 160.41 466.75 159.22C468.18 159.11 469.31 160.44 469.07 161.86L466.03 179.95C465.82 181.21 464.59 182.04 463.34 181.79C456.7 180.46 451.78 179.8 447.59 180.15C445.18 180.35 444.8 183.67 447.05 184.54C483.51 198.67 474.41 260.21 414.97 253.56C414.89 253.56 414.8 253.55 414.72 253.55C401.94 253.57 401.58 256.62 417.1 256.83C494.94 257.86 477.53 333.03 422.63 329.14C412.86 328.47 402.83 325.18 394.37 318.93C387.42 313.79 388.06 303.18 395.54 298.86H395.52ZM434.29 247.21C451.29 243.11 432.86 184.53 416.47 188.62C400.08 192.51 416.88 251.3 434.29 247.21Z"
            fill="black"></path>
          <path
            d="M540.19 226.52L508.14 235.07C507.12 235.34 506.41 236.29 506.45 237.34C507.14 256.16 512.55 274.2 525.65 278.96C536.29 282.9 548.62 277.37 556.84 261.84C557.4 260.78 558.67 260.3 559.77 260.79C560.94 261.32 561.46 262.73 560.88 263.88C551.97 281.46 537.58 289.62 523.19 289.62C458.05 289.62 459.69 183.72 518.68 183.72C530.2 183.72 540.66 188.74 548.6 197.02C557.96 206.78 553.25 223.05 540.19 226.54V226.52ZM506.26 227.99C506.21 229.5 507.66 230.63 509.12 230.23L519.71 227.34C543.27 221.19 528.52 188.01 518.68 188.01C512.62 188.01 506.94 207.2 506.25 227.99H506.26Z"
            fill="black"></path>
        </g>
        <defs>
          <clipPath id="clip0_272_12">
            <rect width="562" height="330" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>

    <div class="internal-links">
      <HeaderLink href="/">Accueil</HeaderLink>
      <HeaderLink href="/artists">Artistes</HeaderLink>
      <!-- <HeaderLink href="/news">Actus</HeaderLink> -->
      <HeaderLink href="/about">À Propos</HeaderLink>
      <!-- <HeaderLink
        href="https://weezevent.com/fr/billetterie-gratuite/"
        target="_blank">Tickets</HeaderLink
      > -->
    </div>
    <div class="social-links">
      <a href="https://www.instagram.com/0n.stage/" target="_blank">
        <span class="sr-only">Follow onStage on Instagram</span>
        <svg
          viewBox="0 0 16 16"
          aria-hidden="true"
          width="32"
          height="32"
          astro-icon="social/instagram"
          ><path
            fill="currentColor"
            d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
          ></path></svg
        ></a
      >
      <!-- <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span class="sr-only">Follow Astro on Twitter</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
          ></path></svg
        >
      </a>
      <a href="https://github.com/withastro/astro" target="_blank">
        <span class="sr-only">Go to Astro's GitHub repo</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a> -->
    </div>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--base);
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.4);
    font-family: "RL Aqva";
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  #logo {
    margin: 0;
    padding: 0;
    height: 86px;
    margin-top: 10px;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: #df0006;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
